* {
  font-family: "Newsreader";
}

.general-information {
  display: flex;
  flex-direction: column;
}

.contact-details ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.contact-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

.icon {
  height: 30px;
  width: 30px;
}

.name-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-details h1 {
  text-align: right;
  font-family: "Gentium Plus";
  font-size: 48px;
}

.about-me h1 {
  margin: 0;
  padding: 12px;
  background-color: var(--text-bg);
  font-family: "Gentium Plus";
}
